One Piece [imdbid=tt12343534]/https://www.crunchyroll.com/series/GRMG8ZQZR/one-piece
Naruto [tvdbid=78857]/https://www.crunchyroll.com/series/GY9PJ5KWR/naruto
Dragon Ball Movies/https://www.crunchyroll.com/series/GQWH0M1GG/dragon-ball-movies